/* MAIN CSS */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {
    font-family: "Open Sans";
    height: 100%;
    background-color: #fafafa;
}

h2 {
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 15.4px;
}

h3 {
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

p {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

header {
    margin: 0 auto;
    max-width: 1920px;
    
    /* 1920x380 */
    height: 380px; 
    width: 100%;
    background-image: url(logos/headerbackground/overlordalbedo.png);
    background-repeat: no-repeat;
    
    /* 1280x380 */
    /*
    height: 380px;
    width: 1280px;
    background-image: url(logos/1280header.png);
    background-repeat: no-repeat;   
    */
    
    
    /* grey 1280x280 */
    /*  
    height: 250px;
    width: 1280px;
    background-color: #333333
    */
}


.inner-header {
    height: 150px;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    /* grey header background 280px */
    /* top: 144px; */
    /* pic header 380px */
    top: 274px;
}

.inner-header h1 {
    padding: 10px;
    color: white;
    height: auto;
    width: auto;
	font-family: 'Open Sans';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.nav-bar {
    background: linear-gradient(to bottom, #404040 0%, #333333 100%);
    font-weight: 600;
    height: 60px;
    width: 1280px;
}

.nav-bar a {
    background: linear-gradient(to bottom, #404040 0%, #333333 100%);
    color: #fafafa;
    display: inline-block;
    font-size: 15px;
    line-height: 60px;
    padding: 0 28px;
    text-decoration: none;
    width: 50px;
    text-align: center;
}

.nav-bar a:hover {
    color: #333333;
    background: #fafafa;
}

.nav-bar-right {
    float: right;
}

.main-content {
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    width: 1280px;
    height: 1300px;
    margin: 0 auto;
    background-color: #fff;
}

.blogposts {
    float: left;
    width: 75%;
    padding: 10px 0 10px 10px;
}

.blogposts h2 {
    margin-bottom: 10px;
}

.postcontent {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    font-size: 15px;
}

.secondary { 
    float: right;
    width: 22%;
    height: 100%;
    border-left: 1px solid #e0e0e0;
}

.secondary div {
    margin-bottom: 10px;
    padding: 10px;
}

.twitter {}

.myanimelist p {
     font-size: 12px;
}

.github p {
    font-size: 12px;
}

.subfooter {
    clear: both;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #404040 0%, #333333 100%);
    margin: 0 auto;
}

#footer-nav {
    width: 1280px;
    height: 60px;
    font-family: 'Open Sans';
	font-size: 15px;
	font-weight: 500;
}

#footer-nav ul {
    padding-left: 50px;
}

#footer-nav li {
    display: inline;
    color: #fafafa;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 60px;
    text-decoration: none;
    text-align: center;
    padding-right: 25px;
    text-shadow: 0 1px 1px #000;
}

footer[role="copyright"] {
    margin: 0 auto;
    height: 20px;
    position: relative;
    width: 1280px;
    padding: 70px 0 40px 0;
}

footer p {
    font-size: 12px;
	font-style: normal;
	font-variant: normal;
}


/* LOGIN AND ADMIN PANEL CSS */

label {
	display: block;
	color: #333333;
    margin-bottom: 10px;
}

:focus {
	outline: 0;
}

.loginform {
    width: 100%;
	padding: 25px;
}

.loginform ul {
	padding: 0;
	margin: 0;
}

.loginform li {
	display: block;
}

.loginform input:not([type=submit]) {
	padding: 5px;
    margin-bottom: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}

.loginform input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #333333; /* Old browsers */
	color: #fafafa;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}




























